
{% include "admin/layout/header.twig" %}

    {% block content %}{% endblock %}

    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>

{% include "admin/layout/footer.twig" %}