{% extends "admin/layout/master.twig" %}

{% block content %}

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left"><i class="fa fa-home"></i> Commission Junction</h2>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->


        <!-- Matter -->

        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        {{ flash['upload-xml-msg'] }}
                        {{ flash['inserted-items-msg'] }}

                        <div class="widget">
                            <div class="widget-head">
                                <div class="pull-left">Import Commission Junction Items by Advertisers</div>
                                <div class="widget-icons pull-right">
                                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                                    <!--<a href="#" class="wclose"><i class="fa fa-times"></i></a>-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">


                                    <div class="row">
                                     <div class="col-lg-12">
                                    <!-- IMPORT ITEMS -->

                                    <form class="ajax form-horizontal" method="post" action="{{ siteUrl('/admin-area/import-items') }}">

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Advertisers:</label>
                                            <div class="col-lg-5">
                                                <input class="form-control" type="text" name ="advertiser_id" value ="">
                                            </div>
                                        </div>

                                        <!--<div class="form-group">
                                            <label class="col-lg-2 control-label">Currency:</label>
                                            <div class="col-lg-5">
                                                <input class="form-control" type="text" name ="currency" value ="">
                                            </div>
                                        </div>-->

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Keywords (Optional):</label>
                                            <div class="col-lg-5">
                                                <input class="form-control" type="text" name ="keywords" value ="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label"></label>
                                            <div class="col-lg-5">
                                                <input type="submit" name="upload_xml_submit" value="Import Items" class="btn btn-primary">
                                            </div>
                                        </div>
                                        <input type="hidden" name="token" value="{{ token }}">
                                    </form>
                                    <div id="response"></div>
                                    <!-- END IMPORT ITEMS -->
                                    </div>
                                    </div>
                                    <p></p>

                                </div>
                                <div class="widget-foot">
                                    <!-- Footer goes here -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

    </div>
    <!-- Content ends -->

{% endblock %}


{% block sidebar %}
    {% include "admin/layout/side.twig" %}
{% endblock  %}
